/*===============================

Photons
by Guillermo López
Site: virtualclover.com.mx

=================================*/


body{
    
    font-family: 'Segoe UI','Segoe','Arial', 'Helvetica';
    overflow-x: hidden;
    overflow-y: hidden;
}

/*--------Scrollbar--------*/

::-webkit-scrollbar {
    width: .7em;
    height: .7em;
}
 
::-webkit-scrollbar-track {
    background-color: #212529;
}
 
::-webkit-scrollbar-thumb {
  background-color: deeppink;
  outline: 1px solid #212529;
    
}



p{
    
    font-size: .9rem;
}

/*-----------------Preloader-------------------*/

.loader{
    position: fixed;
    background-color: #212529;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.loader .logo{
    
    width: 30%;
    max-width: 200px;
    position: relative;
    top: 50%;
    margin: 0 auto;
    border: 3px solid white;
    animation: loader 2s infinite ease;
    transform-origin: center;
}

.loader .logo img{
    
    width: 100%;
    
}

@keyframes loader {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  
  25% {
    transform: translateY(-50%) rotate(180deg);
  }
  
  50% {
    transform: translateY(-50%) rotate(180deg);
  }
  
  75% {
    transform: translateY(-50%) rotate(360deg);
  }
  
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

/*-----------------Nav-------------------*/

nav{
    
    position: fixed;
    color: black;
    right: 0px;
    top: 0px;
    font-weight: 700;
    letter-spacing: .2em;
    z-index: 90;
    
    
    
}

.titulo-nav{
    
     text-align: left;
    width: 100%;
    padding: 10px;
    background:  white;
    cursor: pointer;
    transition: .3s ease;
    position: relative;
    padding-right: 30px;

}

.titulo-nav span{
    
    position: relative;
    font-size: 2em;
    left:70px;
}

.titulo-nav:hover {
    
    color:deeppink !important;
    padding-right: 40px;
}

.titulo-nav.visible{
    
    left: 0px;
    padding-right: 70px;
}

#menu{
    width: 0;
    overflow: hidden;
    list-style: none;
    background-color: white;
    position: relative;
    left: 200px;
    text-align: right;
    transition: .3s ease;
    padding: 30px 0;
    font-weight: 500;
    font-size: 1.2em;
}

#menu.visible{
    left: 0;
    width: auto;
    
}

#menu li{
    
    padding: 10px;
    padding-top: 25px;
}

#menu li:hover{
    
    color: deeppink;
}

li a,li a:hover{
    
    text-decoration: none;
    color: inherit;
}


/*------ Menu color change--------*/

.negro{
    
    color:white;
}

.negro .titulo-nav{
    
    background-color: #212529;
}

.negro #menu{
    
    background-color: #212529;
}


/*-----------------Banner-------------------*/

#portada{
    
    background-color: black;
    height: 100vh;
    width: 100%;
    min-height: 450px;
    background: url(../img/portfolio/4.jpg) center center;
    background-size: cover;
}

.header-logo{
    
    width: 60px;
    padding: 5px;
}

#portada .contenedor-portada{
    
    position: absolute;
    top: 50%;
    left: 50%; 
    transform:  translateX(-50%) translateY(-50%);
    z-index: 3;
}

#portada h1{
    
       color: deeppink;
    transition: .2s ease;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
     
}
#portada h1 a{
    
    color:inherit;
    text-decoration: inherit;
}

#portada h1:hover{
    
    letter-spacing: 30px;
}

#portada .des{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3em;
    font-size: .8em;
    color: black;
    padding: 5px;
    background-color: white;
    opacity: 0;
    transition: .3s ease;
    margin: 0 auto;
    display: table;
}

#portada .visible{
    
    opacity: 1;
}

#portada .portada-svg{
    

 position: absolute;
 width: 100vw;
 height: 100vh;
 left: 50%;
  transform:translateX(-50%);
}

/*-----------------About-------------------*/

#about{
    position: absolute;
    height: 100vh;
    min-height: 680px;
    overflow-y: auto;
     width: 50%;
    display: block;
}

#about .title,#portfolio .title{
    
    position: absolute;
    transform: rotate(-90deg) translateX(-25%);
    transform-origin: left top 0;
    bottom: 0;
    padding: 20px 5px;
    
}

#about h2, #portfolio h2, #workshops h2, #fotones h2{
    
    font-size: 8em;
    float: left;
}

.text-area{
    
    padding: 20px;
    padding-left: 150px;
    display: flex;
    align-items: center;
    min-height: 100%;
    
}

.text-area .inner{
    
    display: table;
    
}

.profile-img{
    
    width: 50%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    
}

.profile-img img{
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
    width: 100%;
}

.bio{
    
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

/*-----------------Portfolio -------------------*/

#portfolio{
    
    width: 100%;
    background-color: black;
    height: 100vh;
    overflow-y:hidden;
     width: 100vw;
    display: block;
    left: 50%;
    position: relative;
    z-index: 10;
    padding: 10px 0;
    transition: .3s ease;
    min-height: 680px;
    color: white;

}

#portfolio.expand{
    
    left: 0%;
    overflow-x: auto;
}

.see-more{
    position: absolute;
    font-size: 5em;
    top:0;
    line-height: 0;
    padding: 25px 20px;
    cursor: pointer;
}

#portfolio .see-more::after{
    
    content: "+";
}

#portfolio.expand .see-more::after{
    
    content: "– " !important;
}

.gallery{
    height: 100%;
    padding-left: 250px;
}

.gallery .info{
    
    display:none;
}

.img-row{
    white-space: nowrap;
    height: 50%;
}

.port-img{
    
    height: 100%;
    width: auto;
    display: inline-block;
    transition: .3s ease;
}

.port-img:hover{
    
    opacity: .8;
    cursor: pointer;
    
}

.img-row img{
    
    height: 100%;
    border: 5px solid black;
}

/*----------------- Workshop -------------------*/

#workshops{
    min-height: 800px;
    width: 100%;
    padding: 100px 0;
    position: relative;
}
#workshops .title,#fotones .title{
    
    position: absolute;
    transform: rotate(-90deg) translateX(-25%);
    transform-origin: left top 0;
    top: 600px;
    padding: 20px 5px;
}

#workshops h3{
    
    padding-top: 15px;
}

.ws-date{
    
    display: table;
    padding: 5px;
    color: #272829;
    background-color: white;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
}

.ws-wrapper{
    padding-left: 250px;
    min-height: 700px;
    width: 100%;
    
}

.ws-container{
    
    width: 30%;
    position: relative;
    display: inline-block;
    margin: 20px 1vw;
    cursor:pointer;
    transition: .3s ease;
    bottom: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow-x: hidden;
    box-shadow: 3px 0px 10px rgba(0,0,0,.5);
    
    
    
}

.ws-container:hover{
    
    bottom: 15px;
    background-color: black;
    color: white;
}

.ws-container .text-wrapper{
    
    padding: 20px;
}

.ws-container .img-wrapper{
    
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.ws-container img{
    
    position: relative;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
}

/*----------------- Fotones -------------------*/

#fotones{
    
    position: relative;
    width: 100%;
}

#fotones .title{
    
    position: absolute;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: left middle 0;
    top: 50%;
    padding: 20px 5px;
}

.camera-text{
    
    height: 100vh;
    min-height: 680px;
    padding-left: 250px;
}

.camera-text svg{
    
    width: 50%;
    display: inline-block;
}

.camera-text p{
    
    width: 40%;
    display: inline-block;
}

/*----------------- Contact -------------------*/
#contact{
    width: 100%;
    padding: 30px 0;
}

#contact h2{
    
    font-size: 8em;
    text-align: center;
    padding: 10px 0;
}

form{
    
    width: 50%;
    padding: 30px;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}

input{
    
    border: none;
    border-bottom: 2px solid darkgray;
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding: 3px;
}

textarea{
    
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
     min-height: 200px;
    padding: 3px;
}

.enviar{
    
    width: auto;
    text-transform: uppercase;
    color: black;
    border: 2px solid black;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 20px;
   
}

.enviar:hover{
    
    color: deeppink;
}

.icons{
    
    display: table;
    margin: 0 auto;
}

.icons i{
    
    padding: 6px;
    font-size: 1.4rem;
    color: dimgray;
}

.icons i:hover{
    
    color:black;
}

/*-----------------Footer--------------*/

footer{
    
    z-index: 2;
    background-color: black;
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 10px;
}

footer a{
    
    color: #5b636b !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
    letter-spacing: 3px;
    
    
}

.vc{
    
    font-size: .7em;
}

/*-----------------Photo container--------------*/

.external-pc{
    
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    transition: .3s ease;
    top:100vh;
}

.close-btn{
    
    z-index: 3;
    position: absolute;
    font-size: 4em;
    right: 40px;
    cursor: pointer;
    
    
}

.circle-container{
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.circle{
    position: absolute;
    width: 80%;
    padding-top: 80%;
    border-radius: 50%;
    border-right: 5px dotted lightgray;
    border-top: 5px solid darkgray;
    transform: translate(-25%,-50%) rotate(45deg);
    transform-origin: center;
    top: 50%;
}

.photo-container{
    
    width: 100%;
    height: 100%;
    min-height: 450px;
    background-color: white;
    
    overflow-y: auto;
}
.photo-half{
    
    width: 40%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: .4s ease;
}
.photo-half img{
    
   width: 100%;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    transition: .5s ease;
    display: block;
    margin: 0;
}
.photo-half img:hover{
    
    width: 110%;
    cursor: zoom-in;
}

.credits{
    
    position: absolute;
    color:white !important;
    bottom: 5px;
    left: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .7em;
    letter-spacing: 3px;
    background-color: black;
    padding: 5px;
    text-align: center;
}

.dials{display: none;
        display: block;
}

.dials .names div{ 

        color: #212529;
    position: absolute;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5em;
        


}

.dials .names .speed{
    
    top: 15%;
    transform: translate(-180%,-50%);
    left: 56%;
}
.dials .names .ap{
    
     top: 50%;
    transform: translate(-580%,-50%);
    left: 60%;
}
.dials .names .iso{
    
        top: 85%;
    transform: translate(-250%,-50%);
    left: 56%;
}

.dials .inner-circles div{
    
    width: 120px;
    height: 120px;
    background-color: #212529;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    overflow: hidden;
}

.dials .inner-circles div a{
    
    color: white !important;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
}

.dials .speed{
    
    top: 15%;
    transform: translate(-50%,-50%);
    left: 56%;
    
}
.dials .ap{
    
    top: 50%;
    transform: translate(-50%,-50%);
    left: 60%;
    
}
.dials .iso{
    
    top: 85%;
    transform: translate(-50%,-50%);
    left: 56%;
    
}

.text-half .p-desc{
    
    width: 30%;
    position: absolute;
    right: 0;
    z-index: 3;
    top:50%;
    transform: translateY(-50%);
    padding: 30px;
}

/*---------Zoom photo on click-------------*/

.zoom{
    
    width: 100%;
    z-index: 5;
    background-color: black;
}
.zoom img{
    
    height: 100%;
    width: auto;
    margin: 0 auto;
    
}
.zoom img:hover{
    
    width: auto;
    cursor: zoom-out;
}

.zoom .credits{
    
    left: 50%;
    transform: translateX(-50%);
}

/*-----------------Device adjustments--------------*/


@media screen and (max-width: 1000px){
    
    #portada h1{
        
        font-size: 11vw;
    }
    
    #portada h1:hover{
    letter-spacing: 2vw;
}
    
    #about{
        
        width: 100%;
        float: none;
              position: relative;
        height: auto;
    }
    
    #about .title,#portfolio .title, #workshops .title, #fotones .title{
    transform: translate(0,0);
    top: 0;
    padding: 20px 5px;
    position: relative;
    
}
    
    #about h2, #portfolio h2, #contact h2, #workshops h2, #fotones h2{
    
    font-size: 5em;
    float: none;
}
    
    #about h2, #fotones h2{
        
        text-align: center;
    }

    .text-area,.gallery, .ws-wrapper, .camera-text{
        
        padding-left: 0;
    }
    
    #portfolio{
        
        float:none;
        left: 0;
        overflow-x: auto;
        height: auto;
    }
    
    .gallery{
        
        height: 680px;
    }
    
    #portfolio .see-more{
        
        display: none;
    }
    
    .ws-wrapper{
        
        display: block;
    }
    
     #workshops .ws-container{
        
        width: 90%;
        display: block;
         margin: 20px auto;
    }
    
.camera-text{
        
        height: auto;
    }
    
    .camera-text p, .camera-text svg
    {
         width: 90%;
        display: block;
         margin: 10px auto;
        
    }
    
    .camera-text svg{
        
        height: 400px;
        width: auto;
    }
    
    #contact form{
        
        width: 90%;
    }
    
    
    /*-----------------Portafolio photo page--------------*/
    
    
    .photo-half{
        
        width: 100%;
        position: relative;
        display: table;
        height: auto;
    }
    
    .photo-half img{
        
        width: 100%;
        height: auto;
        transform: translate(0,0);
        
    }
    
    .photo-half img:hover{
        
        width: 100%;
        cursor:default;
    }
    
    .text-half{
        
        padding-top: 20px;
    }
    
    .text-half .p-desc{
        
        width: 100%;
        position: relative;
        transform: translate(0,0);
    }
    
    .circle{
        
        display: none;
    }
    
    .dials{
        
        position: relative;
        display: table !important;
        margin: 0 auto;
    }
    
    .dials .names div{
        
        position: relative;
        transform: translate(0,0) !important;
        width: 60px;
        float: left;
        left: 0 !important;
        text-align: center;
        margin: 0 5px;
        font-size: .8em;
    }
    
    .dials .inner-circles div{
        position: relative;
        float:left;
        left: 0;
        transform: translate(0,0);
        margin: 0 5px;
        width: 60px;
        height: 60px;
        font-size: .5em;
    }
    
    .credits{
    
    left: 50%;
    transform: translateX(-50%);
}
    
    .close-btn{
        
        background-color: #212529;
        color: white !important;
        z-index: 6;
    }

}

@media screen and (max-height: 450px){
    
    .text-half .p-desc{
        
        top: 50px;
        transform: translate(0,0);
    }
}
